@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
/* : Desarrolla la versión para tablets (esta no será evaluada), utilizando el
breakpoint >= 576px y luego para escritorio >= 992px. */


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.75rem auto 1fr auto;
  grid-template-areas: "navigation" "filter" "main" "footer" ;
  min-height: 100vh;
  ;
}
@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 15rem auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "filter filter"
    "navigation main"
    "footer footer";
  }
}
@media (min-width: 992px) {
  .grid-container {
    grid-template-areas: 
    "navigation filter"
    "navigation main"
    "footer main";
  }
}
/* Section Filter */
.section-filter{
  grid-area: filter;
  background-color: #21005D;
  color: #EADDFF;
  padding: 0.75rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-filter select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  max-width: 90%;
}
.section-nav {
  grid-area: navigation;
  background-color: #EADDFF;
}

@media (min-width: 576px) {
  navigation {
    display: block;
  }

}

.container-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.75rem 1rem;
  box-sizing: inherit;
}
@media (min-width: 576px) {
  .container-nav {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

.icon-menu-mobile{
  display: block;
  cursor: pointer;
}
@media (min-width: 576px) {
  .icon-menu-mobile {
    display: none;
  }
}
/* :::::::::::::::::: Nav :::::::::::::::::: */
.nav{
  display: none;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.25rem;
  width: 100%;
  margin-left: -0.5rem;
}
@media (min-width: 576px) {
  .nav {
    display: flex;
  }
}
.nav-item{
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  box-sizing: border-box;
}
.nav-item:hover{
  color: #FFFBFE;
  background-color: #21005D;
}

/* ::::::::::::::::::: Main ::::::::::::::::::: */
.grid-container-products {
  grid-area: main;
  display: flex;
  flex-direction: column;
}


.grid-cars{
  flex: 1 0 auto;
  background-color: #FFFBFE;
  box-sizing: inherit;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: auto;
}

@media (min-width: 576px) {
  .grid-cars {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .grid-cars {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* ::::::::::::::::::: CARDS ::::::::::::::::::: */

.card{
  display: flex;
  flex-direction: column;
  border: #e2e8f0 1px solid;
  border-radius: 1rem;
  overflow: hidden;
  justify-content: stretch;
  background-color: #fff;
}
.product-img{
  width: 100%;
  height: 100%;
  max-height: 24rem;
  object-fit: cover;
  object-position: center;
}

.product-img:hover{
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}

.card-body{
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.information-product{
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.autonomy-info {
  flex: 0 1 auto;
  color: #C9FE43;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #21005D;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.title-product {
  flex: 1 1 auto;
  font-size: 1.25rem;
  font-weight: 400;
  color: #111827;
}

.description-product{
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 300;
  color: #6b7280;
}
.price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #21005D;
  text-align: end;
}

.button-buy{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #21005D;
  background-color: #fff;
  color: #21005D;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.button-buy:hover{
  background-color: #6750A4;
  color: white;
}

/* :::::::::::::::: PAGINATION :::::::::::::::: */
.pagination{
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.button-pagination{
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  background-color: #faf5ff;
  color: #21005D;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.button-pagination:first-child{
  border-radius: 0.25rem 0 0 0.25rem;
}
.button-pagination:last-child{
  border-radius: 0 0.25rem 0.25rem 0;
}

.button-pagination:hover{
  background-color: #6750A4;
  color: white;
}
.button-pagination.active {
  background-color: #21005D;
  color: white;
}


/* :::::::::::::::::: Footer ::::::::::::::::::: */
footer{
  grid-area: footer;
  color: #EADDFF;
  background-color: #21005D;
  height: 100%;
}
.copyright {
  text-transform: capitalize;
  font-weight: 500; 
}
@media  (min-width: 576px) {
  .copyright{
    text-align: center;
  }
}
.container-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}
.footer-icons{
  display: flex;
  gap: 1rem;
  margin-bottom: 0.75rem;
}	



/* ::::::::::::::::::: helpers ::::::::::::::::::: */
.available-colors {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0rem;
}

.car-color {
  box-sizing: border-box;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: #000 1px solid;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
} 

.car-color:hover {
  transform: scale(1.1);
}


.color-blue {
  background-color: #21005D;
}
.color-red {
  background-color: #B3261E;
}
.color-green {
  background-color: #C9FE43;
}
.color-yellow {
  background-color: #ffff18c5;
}
.color-purple {
  background-color: #800080;
}
.color-orange {
  background-color: #FFA500;
}
.color-black {
  background-color: #000000;
}


